.sudoku-grid {
    border-collapse: collapse;
    width: 300px; 
  }
  
  .sudoku-grid td {
    border: 1px solid #000; 
    width: 30px; 
    height: 30px; 
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
  }
  
  .selected {
    background-color: #ffcc00; 
    font-weight: bold;
  }
  